In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv('Datasets/data.csv', 
                  error_bad_lines=False)

C:\Users\s7522\AppData\Local\Temp\ipykernel_12692\1167543868.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('C:/Users/s7522/Desktop/Machine Learning Datasets/data.csv',
b'Skipping line 2810: expected 2 fields, saw 5\nSkipping line 4641: expected 2 fields, saw 5\nSkipping line 7171: expected 2 fields, saw 5\nSkipping line 11220: expected 2 fields, saw 5\nSkipping line 13809: expected 2 fields, saw 5\nSkipping line 14132: expected 2 fields, saw 5\nSkipping line 14293: expected 2 fields, saw 5\nSkipping line 14865: expected 2 fields, saw 5\nSkipping line 17419: expected 2 fields, saw 5\nSkipping line 22801: expected 2 fields, saw 5\nSkipping line 25001: expected 2 fields, saw 5\nSkipping line 26603: expected 2 fields, saw 5\nSkipping line 26742: expected 2 fields, saw 5\nSkipping line 29702: expected 2 fields, saw 5\nSkipping line 32767: expected 2 fields, saw 5\nSkipping line 32878: expected 2 fields, saw 5\nSkipping line 35643: expected 2 fields, saw 5\nSkipping line 36550: expected 2 fields, saw 5\nSkipping line 38732: expected 2 fields, saw 5\nSkipping line 40567: expected 2 fields, saw 5\nSkipping line 40576: expected 2 fields, saw 5\nSkipping line 41864: expected 2 fields, saw 5\nSkipping line 46861: expected 2 fields, saw 5\nSkipping line 47939: expected 2 fields, saw 5\nSkipping line 48628: expected 2 fields, saw 5\nSkipping line 48908: expected 2 fields, saw 5\nSkipping line 57582: expected 2 fields, saw 5\nSkipping line 58782: expected 2 fields, saw 5\nSkipping line 58984: expected 2 fields, saw 5\nSkipping line 61518: expected 2 fields, saw 5\nSkipping line 63451: expected 2 fields, saw 5\nSkipping line 68141: expected 2 fields, saw 5\nSkipping line 72083: expected 2 fields, saw 5\nSkipping line 74027: expected 2 fields, saw 5\nSkipping line 77811: expected 2 fields, saw 5\nSkipping line 83958: expected 2 fields, saw 5\nSkipping line 85295: expected 2 fields, saw 5\nSkipping line 88665: expected 2 fields, saw 5\nSkipping line 89198: expected 2 fields, saw 5\nSkipping line 92499: expected 2 fields, saw 5\nSkipping line 92751: expected 2 fields, saw 5\nSkipping line 93689: expected 2 fields, saw 5\nSkipping line 94776: expected 2 fields, saw 5\nSkipping line 97334: expected 2 fields, saw 5\nSkipping line 102316: expected 2 fields, saw 5\nSkipping line 103421: expected 2 fields, saw 5\nSkipping line 106872: expected 2 fields, saw 5\nSkipping line 109363: expected 2 fields, saw 5\nSkipping line 110117: expected 2 fields, saw 5\nSkipping line 110465: expected 2 fields, saw 5\nSkipping line 113843: expected 2 fields, saw 5\nSkipping line 115634: expected 2 fields, saw 5\nSkipping line 121518: expected 2 fields, saw 5\nSkipping line 123692: expected 2 fields, saw 5\nSkipping line 124708: expected 2 fields, saw 5\nSkipping line 129608: expected 2 fields, saw 5\nSkipping line 133176: expected 2 fields, saw 5\nSkipping line 135532: expected 2 fields, saw 5\nSkipping line 138042: expected 2 fields, saw 5\nSkipping line 139485: expected 2 fields, saw 5\nSkipping line 140401: expected 2 fields, saw 5\nSkipping line 144093: expected 2 fields, saw 5\nSkipping line 149850: expected 2 fields, saw 5\nSkipping line 151831: expected 2 fields, saw 5\nSkipping line 158014: expected 2 fields, saw 5\nSkipping line 162047: expected 2 fields, saw 5\nSkipping line 164515: expected 2 fields, saw 5\nSkipping line 170313: expected 2 fields, saw 5\nSkipping line 171325: expected 2 fields, saw 5\nSkipping line 171424: expected 2 fields, saw 5\nSkipping line 175920: expected 2 fields, saw 5\nSkipping line 176210: expected 2 fields, saw 5\nSkipping line 183603: expected 2 fields, saw 5\nSkipping line 190264: expected 2 fields, saw 5\nSkipping line 191683: expected 2 fields, saw 5\nSkipping line 191988: expected 2 fields, saw 5\nSkipping line 195450: expected 2 fields, saw 5\nSkipping line 195754: expected 2 fields, saw 5\nSkipping line 197124: expected 2 fields, saw 5\nSkipping line 199263: expected 2 fields, saw 5\nSkipping line 202603: expected 2 fields, saw 5\nSkipping line 209960: expected 2 fields, saw 5\nSkipping line 213218: expected 2 fields, saw 5\nSkipping line 217060: expected 2 fields, saw 5\nSkipping line 220121: expected 2 fields, saw 5\nSkipping line 223518: expected 2 fields, saw 5\nSkipping line 226293: expected 2 fields, saw 5\nSkipping line 227035: expected 2 fields, saw 7\nSkipping line 227341: expected 2 fields, saw 5\nSkipping line 227808: expected 2 fields, saw 5\nSkipping line 228516: expected 2 fields, saw 5\nSkipping line 228733: expected 2 fields, saw 5\nSkipping line 232043: expected 2 fields, saw 5\nSkipping line 232426: expected 2 fields, saw 5\nSkipping line 234490: expected 2 fields, saw 5\nSkipping line 239626: expected 2 fields, saw 5\nSkipping line 240461: expected 2 fields, saw 5\nSkipping line 244518: expected 2 fields, saw 5\nSkipping line 245395: expected 2 fields, saw 5\nSkipping line 246168: expected 2 fields, saw 5\nSkipping line 246655: expected 2 fields, saw 5\nSkipping line 246752: expected 2 fields, saw 5\nSkipping line 247189: expected 2 fields, saw 5\nSkipping line 250276: expected 2 fields, saw 5\nSkipping line 255327: expected 2 fields, saw 5\nSkipping line 257094: expected 2 fields, saw 5\n'
b'Skipping line 264626: expected 2 fields, saw 5\nSkipping line 265028: expected 2 fields, saw 5\nSkipping line 269150: expected 2 fields, saw 5\nSkipping line 271360: expected 2 fields, saw 5\nSkipping line 273975: expected 2 fields, saw 5\nSkipping line 274742: expected 2 fields, saw 5\nSkipping line 276227: expected 2 fields, saw 5\nSkipping line 279807: expected 2 fields, saw 5\nSkipping line 283425: expected 2 fields, saw 5\nSkipping line 287468: expected 2 fields, saw 5\nSkipping line 292995: expected 2 fields, saw 5\nSkipping line 293496: expected 2 fields, saw 5\nSkipping line 293735: expected 2 fields, saw 5\nSkipping line 295060: expected 2 fields, saw 5\nSkipping line 296643: expected 2 fields, saw 5\nSkipping line 296848: expected 2 fields, saw 5\nSkipping line 308926: expected 2 fields, saw 5\nSkipping line 310360: expected 2 fields, saw 5\nSkipping line 317004: expected 2 fields, saw 5\nSkipping line 318207: expected 2 fields, saw 5\nSkipping line 331783: expected 2 fields, saw 5\nSkipping line 333864: expected 2 fields, saw 5\nSkipping line 335958: expected 2 fields, saw 5\nSkipping line 336290: expected 2 fields, saw 5\nSkipping line 343526: expected 2 fields, saw 5\nSkipping line 343857: expected 2 fields, saw 5\nSkipping line 344059: expected 2 fields, saw 5\nSkipping line 348691: expected 2 fields, saw 5\nSkipping line 353446: expected 2 fields, saw 5\nSkipping line 357073: expected 2 fields, saw 5\nSkipping line 359753: expected 2 fields, saw 5\nSkipping line 359974: expected 2 fields, saw 5\nSkipping line 366534: expected 2 fields, saw 5\nSkipping line 369514: expected 2 fields, saw 5\nSkipping line 377759: expected 2 fields, saw 5\nSkipping line 379327: expected 2 fields, saw 5\nSkipping line 380769: expected 2 fields, saw 5\nSkipping line 381073: expected 2 fields, saw 5\nSkipping line 381489: expected 2 fields, saw 5\nSkipping line 386304: expected 2 fields, saw 5\nSkipping line 387635: expected 2 fields, saw 5\nSkipping line 389613: expected 2 fields, saw 5\nSkipping line 392604: expected 2 fields, saw 5\nSkipping line 393184: expected 2 fields, saw 5\nSkipping line 395530: expected 2 fields, saw 5\nSkipping line 396939: expected 2 fields, saw 5\nSkipping line 397385: expected 2 fields, saw 5\nSkipping line 397509: expected 2 fields, saw 5\nSkipping line 402902: expected 2 fields, saw 5\nSkipping line 405187: expected 2 fields, saw 5\nSkipping line 408412: expected 2 fields, saw 5\nSkipping line 419423: expected 2 fields, saw 5\nSkipping line 420962: expected 2 fields, saw 5\nSkipping line 425965: expected 2 fields, saw 5\nSkipping line 427496: expected 2 fields, saw 5\nSkipping line 438881: expected 2 fields, saw 5\nSkipping line 439776: expected 2 fields, saw 5\nSkipping line 440345: expected 2 fields, saw 5\nSkipping line 445507: expected 2 fields, saw 5\nSkipping line 445548: expected 2 fields, saw 5\nSkipping line 447184: expected 2 fields, saw 5\nSkipping line 448603: expected 2 fields, saw 5\nSkipping line 451732: expected 2 fields, saw 5\nSkipping line 458249: expected 2 fields, saw 5\nSkipping line 460274: expected 2 fields, saw 5\nSkipping line 467630: expected 2 fields, saw 5\nSkipping line 473961: expected 2 fields, saw 5\nSkipping line 476281: expected 2 fields, saw 5\nSkipping line 478010: expected 2 fields, saw 5\nSkipping line 478322: expected 2 fields, saw 5\nSkipping line 479999: expected 2 fields, saw 5\nSkipping line 480898: expected 2 fields, saw 5\nSkipping line 481688: expected 2 fields, saw 5\nSkipping line 485193: expected 2 fields, saw 5\nSkipping line 485519: expected 2 fields, saw 5\nSkipping line 486000: expected 2 fields, saw 5\nSkipping line 489063: expected 2 fields, saw 5\nSkipping line 494525: expected 2 fields, saw 5\nSkipping line 495009: expected 2 fields, saw 5\nSkipping line 501954: expected 2 fields, saw 5\nSkipping line 508035: expected 2 fields, saw 5\nSkipping line 508828: expected 2 fields, saw 5\nSkipping line 509833: expected 2 fields, saw 5\nSkipping line 510410: expected 2 fields, saw 5\nSkipping line 518229: expected 2 fields, saw 5\nSkipping line 520302: expected 2 fields, saw 5\nSkipping line 520340: expected 2 fields, saw 5\n'

b'Skipping line 525174: expected 2 fields, saw 5\nSkipping line 526251: expected 2 fields, saw 5\nSkipping line 529611: expected 2 fields, saw 5\nSkipping line 531398: expected 2 fields, saw 5\nSkipping line 534146: expected 2 fields, saw 5\nSkipping line 544954: expected 2 fields, saw 5\nSkipping line 553002: expected 2 fields, saw 5\nSkipping line 553883: expected 2 fields, saw 5\nSkipping line 553887: expected 2 fields, saw 5\nSkipping line 553915: expected 2 fields, saw 5\nSkipping line 554172: expected 2 fields, saw 5\nSkipping line 563534: expected 2 fields, saw 5\nSkipping line 565191: expected 2 fields, saw 5\nSkipping line 574108: expected 2 fields, saw 5\nSkipping line 574412: expected 2 fields, saw 5\nSkipping line 575985: expected 2 fields, saw 5\nSkipping line 580091: expected 2 fields, saw 5\nSkipping line 582682: expected 2 fields, saw 5\nSkipping line 585885: expected 2 fields, saw 5\nSkipping line 590171: expected 2 fields, saw 5\nSkipping line 591924: expected 2 fields, saw 5\nSkipping line 592515: expected 2 fields, saw 5\nSkipping line 593888: expected 2 fields, saw 5\nSkipping line 596245: expected 2 fields, saw 5\nSkipping line 607344: expected 2 fields, saw 5\nSkipping line 607633: expected 2 fields, saw 5\nSkipping line 610939: expected 2 fields, saw 5\nSkipping line 613638: expected 2 fields, saw 5\nSkipping line 615643: expected 2 fields, saw 5\nSkipping line 615901: expected 2 fields, saw 5\nSkipping line 617389: expected 2 fields, saw 5\nSkipping line 634641: expected 2 fields, saw 5\nSkipping line 635755: expected 2 fields, saw 5\nSkipping line 646243: expected 2 fields, saw 5\nSkipping line 647165: expected 2 fields, saw 5\nSkipping line 648610: expected 2 fields, saw 5\nSkipping line 648772: expected 2 fields, saw 5\nSkipping line 651833: expected 2 fields, saw 5\nSkipping line 653663: expected 2 fields, saw 5\nSkipping line 656233: expected 2 fields, saw 5\nSkipping line 656694: expected 2 fields, saw 5\nSkipping line 659783: expected 2 fields, saw 5\nSkipping line 660478: expected 2 fields, saw 5\nSkipping line 661133: expected 2 fields, saw 5\nSkipping line 661736: expected 2 fields, saw 5\nSkipping line 669827: expected 2 fields, saw 5\n'

In [4]:
data

            password  strength
0           kzde5577         1
1           kino3434         1
2          visi7k1yr         1
3           megzy123         1
4        lamborghin1         1
...              ...       ...
669635    10redtux10         1
669636     infrared1         1
669637  184520socram         1
669638     marken22a         1
669639      fxx4pw4g         1

[669640 rows x 2 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669640 entries, 0 to 669639
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   password  669639 non-null  object
 1   strength  669640 non-null  int64
dtypes: int64(1), object(1)
memory usage: 10.2+ MB

In [6]:
data.describe()

            strength
count  669640.000000
mean        0.990196
std         0.507948
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000

In [7]:
data.isna().sum()

password    1
strength    0
dtype: int64

In [9]:
data.isna().any()

password     True
strength    False
dtype: bool

In [11]:
data = data.dropna()
data['strength'] = data['strength'].map({0: 'Weak',
                                        1: 'Medium',
                                        2: 'Strong'})

C:\Users\s7522\AppData\Local\Temp\ipykernel_12692\2997304017.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['strength'] = data['strength'].map({0: 'Weak',

In [12]:
data.sample(5)

                password strength
351625        solah12345   Medium
284407       karoliukas1   Medium
472260         iqoroz556   Medium
491943          0s8ccr39   Medium
31546   x0kOAVjI5MgpXYIY   Strong

In [13]:
def word(password):
    character = []
    for i in password:
        character.append(i)
    return character

In [16]:
x = np.array(data['password'])
y = np.array(data['strength'])

In [18]:
tdif = TfidfVectorizer(tokenizer=word)
x = tdif.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.05, random_state = 42)

In [ ]:
model = RandomForestClassifier()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

In [ ]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
output = model.predict(data)
print(output)